@font-face {

  font-family: "Seravek-Bold";
  src: url('../css/fonts/Seravek-Bold.woff') format('woff');
}

@font-face {
  font-family: "Elsa-Regular";
  src: url('../css/fonts/Elsa-Regular.otf') format('otf');

}



body {
    background-color: #373737;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-color: #282828;
}

li {
    height: 60px;
    width: 150px; 
}


li a {
    display: block;
    color: white;
}

li a:hover:not(.active) {
    text-decoration: none;
    color: white;
}

#nav-links li {
  list-style: none;
  margin-top: 37.5px;
  margin-right: 40px;
  font-family: 'Seravek-Bold';
}

.btn-style {
   background-color: #4800ad;
   padding: 7px 15px;
   padding-top: 18px;
   border-radius: 15px;
   color: white;
   text-decoration: none;
   vertical-align: middle;
   float: right;
   transition: all .2s linear;
}


.logo {
  position: relative;
  float: left;
  top: -30px;
}

#logo {
  height: 150px;
  width: 256px;
}

.text-style {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;

}

.coins:after {
    content:url('img/coins.png');
}

#rectangle {
    display: inline-block;
    width: 1200px;
    height: 650px;
    margin-top: 80px;
    margin-left: 50px;
    background-color: #161616;
    border-radius: 20px;
    overflow: hidden;
}

#rectangle2 {
    display: inline-block;
    width: 550px;
    height: 366px;
    margin-top: 90px;
    margin-left: 90px;
    border-radius: 5px;
    background-color: #0f0f0f;
}

.squares-1 {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #0f0f0f;
    margin-top: 70%;
    border-radius: 5px;
    box-shadow: 1px;
}

.squares {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #0f0f0f;
    border-radius: 5px;
    margin-top: 70%;
    margin-left: 65px;
}

.cards {
    display: block;
    margin-bottom: -40px;
    width: 400px;
    height: 144px;
    margin-top: 100px;
    margin-right: 90px;
    background-color: #0A0A0A;
    border-radius: 5px;
}

#container1 {
  float: right;
}

#buy-in {
  margin-top: 80px;
  margin-left: 220px;
  width: 200px;
  height: 50px;
  background: linear-gradient(to right, #4721ff, #3818ff);
  border-radius: 5px;
}

#inspect {
  margin-top: -105%;
  margin-left: 220px;
  width: 200px;
  height: 40px;
  background: linear-gradient(to right, 
    #3827b0, #452db3, 
    #683ebd, #9052c8, 
    #a35bcd, #ba67d4);
  border-radius: 5px;
}

#raffle {
    display: inline-block;
    position: fixed;
    vertical-align: top;
    width: 25%;
    height: 650px;
    margin-top: 80px;
    margin-left: 130px;
    background-color: #161616;
    border-radius: 20px;
}

.buy {
  font-family: 'Seravek-Bold';
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-top: 35px;
  padding-left: 35px;
}

.text {
  font-family: 'Open Sans';
  color: white;
  font-size: 12px;
  padding-left: 35px;
}

#buyin {
  color: white;
  font-family: 'Open Sans';
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

#inspecting {
  color: white;
  font-family: 'Open Sans';
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}



#raffle-slots {
  font-family: 'Lato';
  margin-top: 20px;
  margin-left: 30px;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  white-space: nowrap;
  border-bottom: 1px solid white;
  padding-bottom: -1px;
  width: 25px;
}

.squares-2 {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #2f2f2f;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 35px;
}

#getcoins {
   background-color: #FFD700;
   padding: 7px 15px;
   padding-top: 19px;
   border-radius: 15px;
   font-size: 19px;
   color: white;
   text-align: center;
   text-transform: uppercase;
   margin-left: 20px;
   color: white;
   text-decoration: none;
   vertical-align: middle;
   float: right;
   transition: all .2s linear;
}

#getcoins:hover {
  background-color: #DAA520;
  transition: all .2s linear;
}

.coins {
  padding-top: 15px;
}

.btn-style:hover {
   background: #5b03d6;
   transition: all .2s linear;
   }


#ct {
  background: url('../img/ct.jpg') no-repeat;
  background-size: cover;
  height: 950px;
}


  footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 100px;
   width: 100%;
   background: #343440;
   color: white;
   font-size: 20px;  
 }

 #depositbox {
  width: 25%;
  height: 100%;
  background: #485b53;
  float: right;
 }

 #reload {
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-size: 18px;
  color: #bbbbd2;
 }

 #reloading {
  float: right;
  height: 100%;
  width: 100px;
  text-align: center;
  margin-top: 20px;
 }

 #deposit {
  color: #78b77c;
  margin-top: 30px;
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-size: 35px;
  text-align: center;

 }



 .space {
  margin-top: 50px;
 }

 .text {
  color: white;
  margin-top: 20px;
  padding-right: 20px;
 }


 .gun-img {
  margin-top: 40px;
  border: 2px solid black;
 }

 .purple {
  background: rgba(63, 63, 73, 0.8);
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px #3c4041 solid;
 }

 .purple:hover {
  background-color: rgb(60, 60, 70);
 }

 .price {
  float: left;
  color: #9072bc;
  font-weight: bold;
  font-size: 20px;
 }

 .wear {
  float: right;
  color: #70a875;
  font-weight: bold;
  font-size: 20px;
 }

 .refresh {
  display: block;
  margin-bottom: 10px;
 }

 .cog {
   vertical-align: middle;
   float: right;
   text-align: center;
   position: relative;
   top: -3px;
   right: -20px;
 }


 #cog {
  height: 70px;
  width: 70px;
  transition: all .2s linear;
 }


 #cog:hover {
  filter: invert(100%);
  transition: all .2s linear;
 }




  



   /* BREAKPOINT */

   @media screen and (max-width: 1366px) {
        ul {
    height: 150px;
    min-width: 1230px;
        } 

        #raffle {
    width: 1200px;
    margin-left: 30px;
}

.squares-2 {
    height: 95px;
    width: 95px;
    margin-left: 60px;

}
}

/*@media only screen  and (min-width : 1766px) {
#raffle {
    display: inline-block;
    position: fixed;
    vertical-align: top;
    width: 390px;
    height: 650px;
    margin-top: 80px;
    margin-left: 50px;
    background-color: #161616;
    border-radius: 20px;
}


#raffle-slots {
  font-family: 'Lato';
  margin-top: 20px;
  margin-left: 30px;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  white-space: nowrap;
  border-bottom: 1px solid white;
  padding-bottom: -1px;
  width: 25px;
}

.squares-2 {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #2f2f2f;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 35px;
}
}*/

